#playField{
    position: relative;
    background-color: rgb(9, 9, 34);
    width: 1024px;
    height: 600px;
    margin: 0 auto;
}

#score{
    position: absolute;
    width: 1024px;
    height: 40px; 
    background-color: aquamarine;
    top: 560px
}

#player{
    background-color: rgb(34, 188, 226);
}

.basicEnemy{
    background-color: red;
}

.proyectile{
    background-color: yellow;
}