body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

#startScreen {
    position: relative;
    background-color: rgb(9, 9, 34);
    width: 1024px;
    height: 600px;
    margin: 0 auto;
}

#startGameText {
    color: rgb(227, 243, 83);
    font-size: 80px;
    text-align: center;
    padding-top: 70px;
    margin: 0;
}

#gameOverText {
    color: aqua;
    text-align: center;
    margin: 0;
    font-size: 163px;
    padding-top: 70px;
}

#startButton {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 412px;
    top: 380px;
}

#gameOverButton {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 412px;
    top: 380px;
}

#gameOverScreen {
    position: relative;
    background-color: rgb(9, 9, 34);
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    display: none;
}


#playField {
    position: relative;
    background-color: rgb(9, 9, 34);
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    display: none;
}

.score {
    position: absolute;
    width: 1024px;
    height: 40px;
    background-color: aquamarine;
    top: 560px
}

#player {
    background-color: rgb(34, 188, 226);
}

.basicEnemy {
    background-color: red;
}

.proyectile {
    background-color: yellow;
}